[submodule "vendor/webcomponentsjs"]
	path = vendor/webcomponentsjs
	url = https://github.com/webcomponents/webcomponentsjs
[submodule "vendor/custom-elements"]
	path = vendor/custom-elements
	url = https://github.com/webcomponents/custom-elements
