$baseSize:            10px;

$barThickness:        0.6em;
$barBorder:           none;
$barColorBase:        rgba(white, 0.2);
$barColorLoaded:      rgba(white, 0.45);
$barColorPassed:      rgba(white, 0.7);
$barMargin:           1em;

$handleWidth:         2em;
$handleHeight:        2em;
$handleRadius:        min($handleWidth, $handleHeight);
$handleBorder:        1px solid gray;
$handleColor:         rgba(white, 0.7);
$handleColorHovered:  rgba(white, 0.9);

:host {
  display:      flex;
  align-items:  center;
  font-size:    #{$baseSize * 2};
  max-width:    100%;
  height:       $handleHeight;
  overflow:     hidden;
}

.bar {
  font-size:        0.5em;
  width:            calc(100% - 0.8em);
  height:           $barThickness;
  margin:           0 calc(#{$barMargin} + #{$handleWidth / 2});
  border-radius:    $barThickness;
  border:           $barBorder;
  background-color: $barColorBase;
  cursor:           pointer;

  &:before {
    @extend .bar;
    position: absolute;
    margin: 0;
    content: '';
    background-color: $barColorPassed;
  }

  .handle {
    background-color: $handleColor;
    width:            $handleWidth;
    height:           $handleHeight;
    border:           $handleBorder;
    border-radius:    $handleRadius;
    cursor:           inherit;

    // Vertically centered
    position:         relative;
    transform:        translate(-50%, -50%);
    top:              50%;

    // left percentage value means input's value
    left:             100%;

    &:hover {
      background-color: $handleColorHovered;
    }

  }
}
